/* Importing Madimi One font family. */
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

/* Importing Inter font family. */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Importing Montserrat font family. */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Importing boostrap icons. */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* Removing default margin & padding. */
* {
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

/* Madimi One font family css. */
.madimione {
    font-family: "Madimi One", sans-serif;
}

/* Inter font family css. */
.inter {
    font-family: "Inter", sans-serif;
}

/* Montserrat font family css. */
.montserrat {
    font-family: "Montserrat", sans-serif;
}

/* Main theme color css.  */
.maincolor {
    background: #FF851B;
}

/* Main theme color for text css.  */
.maintextcolor {
    color: #FF851B;
}

/* SignUp button border css. */
.bordercolor {
    border-color: #FF851B;
}

/* Main button css. */
.mainbutton {
    padding: 0.4rem 2.5rem;
    background-color: #FF851B;
    border-radius: 4px;
    font-weight: bolder;
    font-family: "Inter", sans-serif;
    font-size: 0.8rem;
}

.mainbutton:hover, .watchbtn:hover {
    opacity: 0.75;
}

.mainbutton::after, .watchbtn::after {
    opacity: 0.50;
}

/* Watchnow button css. */
.watchbtn{
    padding: 0.4rem 1rem;
    background-color: #FF851B;
    border-radius: 4px;
    font-weight: bolder;
    font-family: "Inter", sans-serif;
    font-size: 0.8rem;
}